*.wasm
src/circom/examples/*.r1cs
src/circom/examples/*.wtns
src/circom/examples/test.r1cs
src/circom/examples/*.circom
src/circom/examples/*_js
src/circom/examples/*.json
src/circom/examples/*/
*.r1cs
*.wtns
test.r1cs
test.wtns
.DS_Store
node_modules
/target
.direnv
